# Core dependencies
gradio==3.50.2
python-dotenv==1.0.0
tqdm==4.66.1

# Video/audio processing (USE THESE EXACT VERSIONS)
ffmpeg-python==0.2.0
#moviepy==1.0.3 --only-binary :all:
moviepy==2.1.2
imageio==2.31.1
imageio-ffmpeg==0.4.8

# Speech processing
assemblyai==0.15.1
gTTS==2.3.2

# Translation
deep-translator==1.9.2
pysrt==1.1.2

# Utilities
loguru==0.7.2